<footer>
  <div class="row">
  <div class="col-xs-12 col-sm-3">
    <h1>Páginas de interés</h1>
    <ul>
      <li><a href="http://">Nosotros</a></li>
      <li><a href="http://">Información</a></li>
      <li><a href="http://">Publicaciones</a></li>
      <li><a href="http://">Servicios</a></li>
      <li><a href="http://">Investigación</a></li>
      <li><a href="http://">Contacto</a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h1>Últimas noticias</h1>
  </div>
  <div class="col-xs-12 col-sm-3" id="galery">
    <h1>Galerías</h1>
    <ul>
      <li><img src="http://via.placeholder.com/100x100" alt="image"></li>
      <li><img src="http://via.placeholder.com/100x100" alt="image"></li>
      <li><img src="http://via.placeholder.com/100x100" alt="image"></li>
      <li><img src="http://via.placeholder.com/100x100" alt="image"></li>
      <li><img src="http://via.placeholder.com/100x100" alt="image"></li>
      <li><img src="http://via.placeholder.com/100x100" alt="image"></li>
      <li><img src="http://via.placeholder.com/100x100" alt="image"></li>
      <li><img src="http://via.placeholder.com/100x100" alt="image"></li>
      <li><img src="http://via.placeholder.com/100x100" alt="image"></li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h1>Información de contacto</h1>
    <div>
      <strong>Teléfonos</strong>
      <ul>
        <li>
          <p>952018718</p>
        </li>
        <li>
          <p>952018718</p>
        </li>
      </ul>
    </div>
    <div>
      <strong>Dirección</strong>
      <ul>
        <li>
          <p>Av. Circunvalacion S/N</p>
          <small>Pocollay / Tacna</small>
        </li>
      </ul>
    </div>
    <div>
      <strong>Horario</strong>
      <p>Lun a Vie de 8:00AM a 8:00PM</p>
    </div>
  </div>
</div>
</footer>
