<article>
  <h1 id="title">Maritza García: "Hay mujeres que, sin querer queriendo, provocan que las agredan"</h1>
  <p id="subtitle">La parlamentaria de Fuerza Popular, y presidenta de la Comisión de la Mujer, dijo que hay frases que pueden "sacar de contexto
    a hombre sanos".
  </p>
  <ul>
    <li>
        <strong>Publicado por:</strong>
        <span>ADMINEPIS</span>
    </li>
    <li>
        <strong>Fecha de publicación:</strong>
        <span>12/10/2017</span>
    </li>
  </ul>
  <img src="http://e.rpp-noticias.io/normal/2017/10/11/265726_499571.jpg" alt="image">
  <p id="content">
    La congresista fujimorista Maritza García declaró en la Comisión Ordinaria de la Mujer y Familia que hay situaciones en las
    que las mujeres suelen sacar de contexto a un agresor que es absolutamente sano. Para ello, citó a un psicólogo (cuyo
    nombre no dijo) que habría dado una conferencia en Huancabamba (Piura). "Hay que reconocer por qué suelen suceder los
    feminicidios. Lo que el gran psicólogo y maestro dijo es que la mujer a veces, sin razón o sin querer queriendo, da la
    oportunidad al varón para que se comentan ese tipo de actos. Porque puede haber un agresor absolutamente sano y de repente
    en un momento la mujer lo saca de contexto al decirle, 'me voy' o 'te estoy traicionando'. Esas palabras nunca deben
    ser usadas por una mujer, porque podrían sin querer queriendo exacerbar los ánimos de una persona normal. Eso es lo que
    nos explicó el psicólogo", dijo en la reunión. Violencia contra la mujer. La semana pasada se conoció de dos casos de
    violencia contra la mujer. El primero, habría sido cometido por Juan Mendoza ex pareja de la periodista Lorena Álvarez
    quien la habría amenazado de muerte y ocasionado golpes en le cuello. La denuncia por agresión aún continúa su curso.
    El segundo caso, se conoció este domingo cuando un video grabado por Anahí Aguilar mostró cómo es que Martín Camino arrastraba
    de los cabellos a su enamorada Micaela de Osma por una calle de Miraflores. Este miércoles, el Poder Judicial dictó 9
    meses de prisión preventiva contra el agresor por el presunto delito de tentativa de feminicidio. Declaraciones desafortunadas.
    Según Andy Levisi, quien subió el video a Youtube, el debate se dio el miércoles 4 de octubre. El comentario que dio
    la parlamentaria fue hecho en su calidad de presidenta de la comisión. Además, sugirió que la Comisión Ordinaria de la
    Mujer y Familia debería de Cambiar de nombre. "Nosotros nos identificamos con el adulto mayor, también con el género
    masculino y discapacitados. (...) Por eso, considero que la comisión de la Mujer debería de llamarse Comisión de la Familia".
  </p>
</article>